@charset "UTF-8";


.white_box{
	width : 700px; /* 가로 길이 */
	margin : 0 auto ; /*박스권 가운데 정렬 */
}

table{
	width : 600px;
	border-top :solid 4px black;
}

td{
	border-bottom : solid 1px #E6E6E6;
	padding : 5px;
}

.input_contents{
	width : 400px;
	height : 20px
}

#textarea_contents{
	width : 400px;
	resize: none; 
}

.col1{
	width : 100px;
}

.btn_box{
	width : 600px;
	text-align: right;
	padding-top : 10px;
}

.btn{
	padding : 4px 10px;
}
