@charset "UTF-8";

.background{
	background-color: #008000;
	width : 700px;
	height :  600px;
	margin : 0 auto;
	position: relative; /*상위 요소 포지션*/
}

.box1, .box2, .box3,
.box4, .box5, .box6{
	background-color: #FFFF00;
	height : 70px;
	width : 100px;
	border-radius: 15px;
	text-align: center;
	position: absolute; /* 하위 요소 포지션*/
}


.box1{
	left : 300px;
	top : 100px;
}

.box2{
	left : 150px;
	top : 170px;
}

.box3{
	left : 450px;
	top : 170px;
}

.box4{
	left : 150px;
	top : 340px;
}

.box5{
	left : 450px;
	top : 340px;
}

.box6{
	left : 300px;
	top : 420px;
}