@charset "UTF-8";

/* 아이디가 더 우선 ! 클래스보다 */

/*-----------------------------공통---------------------------*/
a{color :  black; text-decoration: none;}
*{ font-family: "맑은 고딕"; }

body{
	background-color: #F5F6F7; /*전체 배경 색 */
}

/*input 입력창에 포커스를 주는게 기본 값.*/
*:focus{outline: none;} /*input입력창에 마우스 커서[포커스] 생겼을 때 이벤트*/ 

li{ list-style-type: none;} /*글머리 제거*/
/*---------------------------헤더-----------------------------*/

#header .logo{ /*로고 박스권*/
	width: 460px; /*로고 가로 사이즈*/
	/*가운데 정렬*/
	margin : 0 auto;
	/* text-align: center; */
	/*가운데 정렬 flex : 하위 요소한테 적용하는 것 */
	display: flex; /*하위 요소를 가운데 정렬 */
	justify-content: center;
}

.logo img{
	height: 50px; /* 사진 높이 사이즈*/
	margin: 40px 0px; /*위 아래 여백 40px*/
	padding : 20px;
}

/*---------------------------본문-----------------------------*/
h3{
	text-align: left;
	font-size: 14px;
	font-family : "돋움";
	margin-bottom: 10px;
}
#join_form{
	width: 460px;
	margin : 0  auto;
}

.signup_input{
	border: solid 1px #DADADA; /*input, span 의 테두리*/
	background-color: white;
	padding : 10px;
	display: flex; /*사이즈가 넘쳐도 맞춰서 가로배치함.*/
	align-items: center;
	/*세로 정렬*/
}

.input_info{
	border : none;	/*input에 테두리 지움*/
	width : 100%; /*input의 가로 사이즈 전체 -> 가로 사이즈 전체를 쓴다는 의미*/
	height: 30px; /*input의 세로 사이즈 */
}

.signup_lock{
	/*네이버에서 아이콘 주소를 가져와 배경으로 설정*/
	background-image: url("https://static.nid.naver.com/images/ui/join/m_icon_pw_step.png");
	width: 25px; height: 25px; /*해당 요소의 사이즈*/
	background-size: 120px 75px; /*배경 사이즈 이미지를 잘라서 가져옴*/
	margin-top: 4px;
}

.signup_at{
	color : #8E8E8E;
}

.birthbox{
	display: flex;
	justify-content: space-between;
}

#birth_y, #birth_m, #birth_d{
	width : 30%;
}

#birth_m{ margin : 0px 20px;}

#choice_txt{
	font-size: 10px;
	color : #8E8E8E;
	font-weight: normal;
}

/*휴대전화 입력란, 인증 버튼 */
.phone_box{
	display: flex;
	justify-content: space-between;
	margin : 10px 0px;
	width : 100%;
}

.phone_box .btn{
	background-color: #03C75A;
	color: white;	
	border: none;
	width : 120px;
	margin-top : 10px;
	margin-bottom : 10px;
	margin-left : 10px;
	font-weight: bold;
	
}

#input_phone{
	width : 300px;
}
.tele{
	margin-top: 30px;
}

.tele .signup_input{
	margin : 10px 0px;
}

#input_auth{ background-color: #F5F6F7; }
#authbox{ background-color: #F5F6F7; }

.signup_btn{
	width : 100%;
	background-color: #03C75A;
	color: white;	
	border: none;
	margin-top: 30px;
	height: 50px;
	font-size: 18px;
	font-weight: bold;
}
.footer_contents{ width: 460px; margin: 0 auto; text-align: center;}
.ft_up{ display: flex; justify-content: center; margin-top : 20px;}
.ft_up a{ font-size: 8px;}
.ft_up a:hover{ /*마우스를 올렸을 떄*/
	color: #008329;
	text-decoration: underline;
}
.ft_up span{ font-weight: bold;}

.ft_down{ display: flex; justify-content: center; margin-top: 5px; align-items: center; }
.ft_down img{
	height : 20px;
	padding : 10px;
}
.ft_down p{font-size: 5px;}

#div_txt{ color: #9d9d9d; font-size: 5px; margin : 0px 3px;}
