@charset "UTF-8";

/*1. 회원가입 입력 구역*/
.signupForm{
	width : 30%;
	margin: 30px auto; /*위아래 margin 가로 가운데*/
	font-size: 15px;
}
/*헤더를 포함하기 때문에 헤더에 쓰고 있는 CSS[index.css]를 쓰고 있다.*/
.signupForm h3{
	font-family: "ImcreSoojin";
	text-align: center;
}
.signupForm p{
	font-family : "KyoboHandwriting2021sjy";
	text-align: center;
	font-size: 20px;
}

/*2. 입력 상자 */
.signupForm input{
	width: 100%;
	height: 45px;
	padding: 20px; /*입력상자 안에*/
	border: 1px solid #e8e8e8; 
	border-radius: 25px; /*모서리 둥글게*/
}

.signupForm .title{ /*입력 제목*/
	font-size : 13px;
}

.checkconfirm{/*유효성 검사 표시 구역*/
	margin-bottom: 20px;
	color : #fd9191;
	font-size: 10px;
	margin-left: 20px;
}

.emailBox{display: flex;} /*이메일 구역*/

.emailBox button, .authBox button{ /*인증, 이메일 버튼*/
	width : 20%;
	background-color : #3ca318;
	color : white;
	font-size: 15px;
	border: none;
	border-radius: 15px;
	margin-left: 7px;
}

.authBox{/*인증 구역*/
	display: flex;
	align-items: center;
	margin-top: 10px;
}

.timeBox{/*인증 시간 구역*/
	width: 30%;
	padding : 10px;
}

.pimgBox{/*첨부파일 구역*/
	display: flex;
	align-items: center;
}

.premimg{ /*프로필 미리 보기[첨부파일 미리보기 구역]*/
	width : 150px;
	height: 150px;
	border: 1px solid #e8e8e8;
	border-radius: 50%;
}
/*회원 가입 버튼*/
.signupBtn{
	width : 100%;
	background-color : #3ca318;
	font-size: 27px;
	font-weight : bold;
	color : white;
	border :none;
	padding : 20px;
	margin: 20px 0px;
	border-radius: 20px;
}