@charset "UTF-8";

/*폰트*/
@font-face {
    font-family: 'ONE-Mobile-POP';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{ /*여백 기본 값 제거*/
	padding : 0px;
	margin : 0px;
	font-family: ONE-Mobile-POP;
	border : none;
}

.wrap{
	display: flex; /*레이아웃 배치 : 기본값이 세로배치인데 가로배치로 바꿈*/
	justify-content: center; /*레이아웃 가운데 배치*/
}

.container{
	width: 45%; /*디바이스[크롬] 배율*/
	/* border : 1px solid black; 테두리 */
	margin : 1%;
}

.kioskBox{
	width : 100%; height : 1200px;
}

.header{
	height : 283px;
}

.content{
	height : 900px;
}

.categoryBox ul{
	display: flex;
	justify-content: space-between;
}

.categoryBox li{
	display: inline-block; /*가로 배치*/
	font-weight : bold;
	margin: 5px 35px;
	padding : 5px 15px;
	color : #737373;
}

/*선택한 li 아이템 꾸미기*/
.categorySelectItem { 
	color : red !important; /*속성 충돌시 최우선! -> id보다도!!*/
	border-bottom: 4px solid red;
}

.hamburger{
	width : 27%; 
	margin-bottom: 15px;
}

.hamburgerInfo{
	text-align: center;
}

.hamburgerPrice{
	color : red;
	margin-top: 2px;
}

.product{
	margin : 3%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.cart{
	background-color: #F5F0EC;
}
.cartContent{
	padding : 15px 25px;
}
.item{
	background-color: white;
	width : 20%;
	margin-top: 10px;
	padding : 20px;
	font-size: 20px;
	margin-right: 10px;
	
}
.item .hamburgerPrice{
	padding-top: 20px;	
}
.cartCount{
	background-color: red;
	color: white;
	margin-left : 5px;
	padding : 2px 20px;
	border-radius: 2em;
	display: inline-block; /*span : inline :사이즈 변경 불가능*/
}
.cartBtn{
	display: flex;
}
.cartBtn button{
	width: 50%;
	color : white;
	font-size: 25px;
	padding : 15px;
	margin : 0px;
	
}
.cancelBtn{
	background-color: black;
}
.orderBtn{
	background-color: red;
}
.cartTop{
	display: flex;
	justify-content: space-between;
	padding : 15px 0px;
}
.pTotal{
	color: red;
	margin-left: 20px;
}

.item .hamburgerTitle{
	width : 100%; height: 30px;
}

.cartBottom{
	display: flex;
	justify-content: flex-start;
	height: 116px;
	margin-bottom: 20px;
	
}
/*----------------------------포스기 부분 시작-----------------------------------*/
.container h3{text-align: center; font-size: 25px; color : #00002F; }

.insertBurger{border : 1; width : 70%; margin : 0 auto;  border-collapse: collapse; font-size: 20px;}
.insertBurger .title{background-color: #C2DEFF; text-align: center;}
.insertBurger th{border : 1px solid black; padding : 8px;}
.insertBurger input{width :100%; height: 20px; border : none; font-weight: normal; font-size: 18px;}

.insertCurrentTable, .orderBurgerTable, .salesTable{
	border : 1; width : 100%; 
	border-collapse: collapse; 
	color : white; font-size: 16px;
	margin-top: 20px;
	justify-content: center;

}

.insertCurrentTable td, .insertCurrentTable th, 
.orderBurgerTable td, .orderBurgerTable th,
.salesTable td, .salesTable th{border: 1px black solid;}

.insertCurrentTable th, .orderBurgerTable th, .salesTable th{background-color: #11246f; padding: 10px}
.insertBox{ margin : 0 auto; text-align: center;}
.newBurgerinsertBtn{background-color: #ff6262; color : white; width:70%; height : 35px; border-radius: 0.3em; margin : 3px;}

.deleteBurgerBtn{background-color: red; color : white; width : 50%; margin-right: 2px;}
.changePriceBtn{background-color: blue; color : white; width : 50%;}

/*---------------------등록 버거 테이블 td, th들 width 지정.------------------*/
.productNo{width : 24%;}
.burgerImg{width : 10%;}
.burgerName{width : 15%;}
.burgerCategory{width: 14%;}
.burgerPrice{width: 14%;}
.insertRemark{width : 25%;}
/*----------------------------------------------------------------------*/

/*--------------주문된 주문 목록 현황 td, th들 width 지정.-------------------*/
.orderNo{width : 10%;}
.orderburgerName{width : 40%;}
.orderState{width : 25%;}
.orderRemark{width : 25%;}
/*----------------------------------------------------------------------*/
td{color : black;}

.insertRemark div{ display : flex; justify-content: space-between; height : 40px; margin : 3px;}
/* 
.admincategoryBox{display: flex; justify-content: space-between;} */
.adminContent{width : 90%; margin : 0 auto; text-align: center; justify-content: center;}

.orderBurgerTable div{height : 40px; margin : 3px;}
.orderCompleteBtn{background-color: #005100; color : white; width : 100%; height: 100%}

.orderFinishText{
	color : #8e8e8e; 
	display : flex; 
	align-items: center; 
	justify-content: center
}

/*---------------------------------매출 현황테이블----------------------------------*/
.salesTable td, .salesTable th{padding : 5px 0px;}

.productNo{width : 24%}
