@charset "UTF-8";

/*
	선택자
		1. 마크업{ }
		2. .class명{ }
		3. #id{ }
		4. *{ }




*/
.게임판{
	width: 50%; /*가로사이즈*/
	margin : 0 auto; /*박스권 가운데 정렬*/
	display: flex; /*레이아웃 = 효과적인 배치도*/
	flex-wrap: wrap; /*기본 값이 nowrap(자동 줄바꿈X)이고, wrap은 사이즈가 부족하면 자동 줄바꿈*/
}

.게임판 div{ /*class명이 게임판 안 아래에 있는 div 선택*/
	width: 30%; height : 100px; /*가로/세로 사이즈*/
	border: 5px solid white; /*테두리*/
	background-color: #d1fec2;
	font-size: 50px;
	text-align: center;
	color :#f19269;
}