@charset "UTF-8";

.wrap{ /*게임화면 설정*/
	width: 1000px;
	height: 600px;
	margin: 0 auto;
	border : 1px solid green;
	/*relative : 하위 요소들의 위치 기준점*/
	position: relative;	/*relative를 써야 하위 요소가 따라감. -> 없으면 하위 요소가 body를 따라감*/
	background-image: url('img/background.png');
	background-size: 125%;
	background-repeat: no-repeat; 
}
/*몬스터와 사용자의 hp를 보여주는 전체 프레임*/

/*-----------------------------HP 관련 구역 start----------------------------*/
.hp_Box{
	display: flex;
	position : relative;
	top : 45px;
	justify-content: space-around; /*사용자와 몬스터의*/
}

.user_hp, .monster_hp{ /*monster와 user의 hp 전체 칸*/
	width : 350px;
	height: 25px;
	background-color: #2c181b;
	opacity: 0.8;
	border-radius: 1em;
}


.user_blood, .monster_blood{ /*monster와 user의 실제 hp인 칸*/
	width : 350px;
	height: 25px;
	background-color: #ff6868;
	opacity: 0.9;
	border-radius: 1em;
}
/*------------------------------HP 관련 구역 end----------------------------*/
/*--------------------캐릭터 박스 구역 start(user, monster)--------------------*/
.userBox{
	width: 90px;
	height: 90px;
	position : absolute; /*절대 위치 : 기준 점은 상위 요소*/
	top : 450px;
	left : 10px;
	background-image: url('img/user/user.png');
	background-size: 100%;
	background-repeat: no-repeat; 
}

.monsterBox{
	width: 100px;
	height: 100px;
	position : absolute; /*절대 위치 : 기준 점은 상위 요소*/
	top : 415px;
	left : 900px;
	background-image: url('img/monster1/monster1.png');
	background-size: 105%;
	transition : all 1s; /*1s : 1초*/
	/*애니메이션 이동 효과*/
}
/*--------------------캐릭터 박스 구역 end(user, monster)--------------------*/
/*----------------------게임회면을 제외한 나머지 관련 구역 start--------------------*/
.etc_box{
	width : 1000px; /*게임화면과 맞춰서*/
	margin: 0 auto;
}

.log_Box{/*로그 관련[좌표값을 출력하는] 구역*/
	display: inline-grid;
}
/*----------------------게임회면을 제외한 나머지 관련 구역 end----------------------*/